@model BeFitUniMvc.Features.Exercises.PerformedExercise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PerformedExercise</h4>
    <hr />
    <dl class="row">
    <dt class="col-sm-2">Data</dt>
    <dd class="col-sm-10">@Model?.TrainingSession?.Date.ToString("yyyy-MM-dd")</dd>

    <dt class="col-sm-2">Sesja</dt>
    <dd class="col-sm-10">@Model?.TrainingSession?.Title ?? "(brak)"</dd>

    <dt class="col-sm-2">Ćwiczenie</dt>
    <dd class="col-sm-10">@Model?.ExerciseType?.Name ?? "(brak)"</dd>

    <dt class="col-sm-2">Serie</dt>
    <dd class="col-sm-10">@Model?.Sets</dd>

    <dt class="col-sm-2">Powtórzenia</dt>
    <dd class="col-sm-10">@Model?.Reps</dd>

    <dt class="col-sm-2">Ciężar (kg)</dt>
    <dd class="col-sm-10">
        @(Model?.Weight.HasValue == true ? Model.Weight.Value.ToString("0.##") : "-")
    </dd>

    <dt class="col-sm-2">Notatki</dt>
    <dd class="col-sm-10">@Model?.Notes ?? "(brak)"</dd>
</dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
